/* 版心 */
.w {
    width: 1190px;
    margin: 0 auto; /* 版心居中 */
}

.fr {
    float: right;
}

.fl {
    float: left;
}

li {
    list-style: none;
}

ul {
    margin: 0; /* 橘黄色 */
    padding: 0 /* 绿色 */
}

h1, h5, p {
    margin: 0;
    padding: 0px;
}


input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.a_hover:hover {
    color: #f10215 !important;
}

* {
    margin: 0;
    padding: 0;
}

/* css font reset */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?1x1j55');
    src: url('../fonts/icomoon.eot?1x1j55#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1x1j55') format('truetype'),
    url('../fonts/icomoon.woff?1x1j55') format('woff'),
    url('../fonts/icomoon.svg?1x1j55#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* css font reset end */
/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/* IE6、7 专有 */
/* 顶部开始 */
.J_event {
    width: 100%;
    background-color: #000;
    /* height: 80px;  可以省略靠a去撑开 */

}

.J_event a {
    position: relative;
    display: block; /* 只有块级元素有宽度可以居中! */
    height: 80px;
    background: url(../images/top.png) no-repeat;
}

.J_event i {
    width: 25px;
    font-family: icomoon;
    color: red; /* 改变字体颜色也就是改变小图标颜色 */
    font-style: normal;
    /* 加了定位转换为 inline-block 无需手动转换 */
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.4)
}

/* 顶部结束 */
/* 快捷导航开始 */
.shortcart {
    /* 父类统一行高 */
    line-height: 30px;
    background-color: #e3e4e5;
    border-bottom: 2px solid #dddddd;
}

.fl {
    margin-left: 209px
}

.fl i {
    font-family: "icomoon";
    font-style: normal;
    color: red;
    font-size: 28px;

}

.shortcart a {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 30px;
    text-decoration: none;
    color: #9d9d9d;
    font-size: 12px;
    margin-right: 0px;
}

.shortcart a:hover {
    color: #c81863;
}

.shortcart .fr li {
    float: left;
    text-align: center;
    margin-left: 20px;
    position: relative;
    height: 30px;
    overflow: hidden /* si命令 */


}

.spacer {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin-top: 10px; /* 上下左右10px */
}

.shortcart .inner .dropdown {
    /* 格外撑20px为向下箭头 */
    /* padding-right: 20px;   */
    padding-right: 20px;
}

.shortcart .fr i {
    font-family: icomoon;
    font-style: normal;
    color: pink;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.erweima {
    width: 60px;
    height: 60px;
    border: 1px solid skyblue;
    position: absolute;
    padding: 2px;

}

/* 快捷导航结束 */

/* header */
.header {
    height: 140px; /* 父盒子只给高度 里面全部定位! */
    background-color: #fff;
    /*border: 1px solid #000;*/
}

.header .inner {
    height: 140px;
    position: relative;
    /*border: 1px solid #000;*/
}

.header .logo {
    height: 180px;
    width: 180px;
    position: absolute;
    top: -40px;
    left: 0;
    box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
    /*border: 1px solid #000000;*/
}

.header .logo a {
    display: block; /*  inline-block 有缝隙 */
    /*height: 180px;*/
    /*width: 180px;*/
    height: 180px;
    width: 180px;
    line-height: 180px;
    /*text-align: center;*/
    background: url(../images/logo.png) #fff no-repeat;
    /*color: rgba(0, 0, 0, 0);*/
    text-indent: -9em;
    overflow: hidden; /* 切割 */
    /* 缩放 */
    background-size: 180px 180px;

}

.header h1 {
    margin: 0;
    height: 180px;
    width: 180px;
}

/* header end */
/* 搜索 */
.search {
    width: 550px;
    height: 37px;
    background-color: purple;
    position: absolute;
    left: 320px;
    top: 25px;
}

.search .text {
    width: 490px;
    height: 35px;
    border: 1px solid red;
    outline: none;
    padding: 0 5px 0; /* 文字内边距 */
    color: #eee;
    /* 浮动去除行内块元素的缝隙 */
    float: left;
}

.inner .search .button {
    margin-left: -1px;
    width: 48px;
    height: 37px;
    /* 浮动去除行内块元素的缝隙 */
    float: right;
    background-color: #f10215;
}

.inner .search i {
    font-family: icomoon;
    font-style: normal;
    color: #fff;
    background-color: #f10215;
    font-size: 16px;
    width: 40px;
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;

}

.search em {
    width: 20px;
    height: 15px;
    font-style: normal;
    background: url(../images/sprite-search.png) no-repeat 0 0;
    /*background-position: -30px 0px;*/
    /*

        search 也是绝对定位!!!  子绝父绝!
        核心就是父亲只要有定位就行,前提不影响的话

     */
    position: absolute;
    /*border: 1px solid #000000;*/
    right: 65px;
    top: 10px;
    cursor: pointer;
}

.search em:hover {
    background-position: -30px 0px;
    cursor: pointer;

}

/* 搜索结束  */
/* 热词开始 */
.header .hot-words a {
    text-decoration: none;
    color: #999;
    font-size: 12px;
    float: left;
    margin-left: 5px;
}

.hot-words {
    position: absolute;
    top: 70px;
    left: 320px;
}

.hot-words a:hover {
    color: #c81863;

}

/* 热词结束 */
/* 购物车开始 */
.shopcar {
    width: 188px;
    height: 35px;
    background-color: #eee;
    position: absolute;
    right: 80px;
    top: 25px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
}

.shopcar i {
    font-family: icomoon;
    font-style: normal;
    color: #f10215;

}

.shopcar s {
    position: absolute;
    left: 145px;
    top: 3px;
    text-decoration: none;
    background-color: #f10215;
    color: #fff;
    height: 12px;
    line-height: 12px;
    border-radius: 7px;
    padding: 1px;

}

/* 购物车结束 */

/* computer */
.computer {
    position: absolute;
    width: 190px;
    height: 40px;
    border: 1px solid red;
    background: url(../images/computer.jpg) no-repeat;
    right: 0;
    bottom: 5px;
}

/* computer end */

/* navitem */
.navitem {
    position: absolute;
    left: 210px;
    bottom: 0;
}

/* ul */
.navitem ul {
    float: left;
}

.navitem li {
    float: left;
    margin-left: 30px;
    /* 另一种是给左右margin 有bug */

}

.navitem li a {
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: #555555;
    display: block;
    /* 块级元素可以给宽高!!!! */
}

.navitem li a:hover {
    color: #F10215;
}

.navitem .spacer {
    float: left;
    margin-left: 20px;
    margin-right: -10px;
    margin-top: 15px;
}

/* navitem end */


/* footer begin */
.footer {
    height: 570px;
    background-color: #eaeaea;
}

.top {
    height: 100px;
    border-bottom: 1px solid #999999;
}

.f-t-w {
    height: 100px;
    /*background-color: pink;*/
    overflow: hidden;
}

.bg {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    background: url(../images/ico_service.png) no-repeat 0 0;
    float: left;

}

.footer .text {
    float: left;
    margin-top: 43px;
    font-size: 18px;
    line-height: 18px;

}

.item {
    /*height: 100px;*/
    /*padding-left: 50px ;*/
    /*padding-right: 50px;*/
    padding: 0px 50px;
    float: left;
}

.footer2 {
    height: 200px;
    border: 1px solid black;
}


/* footer end */

/* footer2 start*/
.footer2 {
    height: 560px;
    background: #EAEAEA;
    /*border-bottom: 1px solid #999999;*/

}

.footer-service {
    border-bottom: 1px solid #999999;

}

.footer-service-inner {
    /* 上下30px 左右0px 由于没给高 however */
    padding: 30px 0;

}

.footer-service-inner li {
    float: left;
    width: 297px;
    height: 42px;
    /*background-color: purple;*/
}


.footer2 .service_unit {
    width: 222px;
    height: 42px;
    /* 嵌套一个小盒子 居中 */
    margin: 0 auto;
    line-height: 42px;
}

.footer2 .footer-service h5 {
    /* 刚好正中不用调位置!!!!!! 否则需要left top */
    position: absolute;
    background: url(../images/ico_service.png) no-repeat;
    width: 45px;
    height: 43px;
    text-indent: -999em;
    overflow: hidden;
}

.footer2 p {
    /* 用padding-left需要减去宽度!!!! */
    margin-left: 45px;
    font-size: 18px;
    font-weight: 700;
}

.footer2 .kuai {
    background-position: 0 -43px;
}

.footer2 .hao {
    background-position: 0 -86px;
}

.footer2 .sheng {
    background-position: 0 -128px;
}

/* help */
.helper {
    height: 180px;
    border: 1px solid #000;
    /*background-color: pink;*/
    padding-top: 20px;
}

/*help end*/
.helper dl {
    float: left;
    /* 宽度剩余法 */
    width: 190px;
}

.helper dt {
    font-size: 14px;
    font-weight: 700;
    color: #666;
    /*height: 33px;*/
    /* 高度剩余法 or margin-bottom */
    margin-bottom: 20px;
}

.helper dd {
    /* 行内元素a给宽高无效 */
    height: 22px;
    text-align: center;
}

.helper dd a {
    color: #727272;
    font-size: 12px;
    height: 22px;
}

.helper dd a:hover {
    color: #F10215;
}

.helper .china {
    width: 207px;
    height: 150px;
    /*background-color: blue;*/
    float: right;
    background: url(../images/ico_footer.png) no-repeat 0 0;
}

.helper dl dt {
    text-align: center;
}

.helper .china p {
    text-align: center;
    height: 80px;
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    color: #666;
    width: 130px;

}

.footer2 .china h5 {
    font: 14px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    color: #666;
    width: 112px;
    margin: 0 auto;
    font-weight: 800;
}

.footer .china a {
    line-height: 100px;
    background-color: #fff;
}

/* 版权模块 */
.copyright {
    padding-top: 30px;
    text-align: center;

}

.links {
    color: #727272;
    font-size: 14px;
}

/* 行内块元素span默认就有缝隙!! */
.copyright span {
    color: #dfd4cd;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;

}

.info {
    overflow: hidden;
    margin-left: 200px;
}


.info p {
    margin: 0 0 0 20px;
    float: left;
    font-size: 13px;
    color: #999;
    line-height: 20px;


}

.info span {
    color: #999;
    float: left;
    margin-left: 20px;
}

.tupian {
    border: 1px solid #eee;

}

.tupian a {
    height: 34px;
    width: 103px;
    float: left;
}

.tupian .docker {
    height: 34px;
    width: 620px;
    margin: 0 auto;
}

.docker .a1 {
    background: url(../images/ico_footer.png) no-repeat 0 -150px;
}

.docker .a2 {
    background: url(../images/ico_footer.png) no-repeat -102px -150px;
}

.docker .a3 {
    background: url(../images/ico_footer.png) no-repeat  0 -183px;
}

.docker .a4 {
    background: url(../images/ico_footer.png) no-repeat -104px -183px;
}

.docker .a5 {
    background: url(../images/ico_footer.png) no-repeat  0 -216px;
}

.docker .a6 {
    background: url(../images/ico_footer.png) no-repeat -104px -216px;
}


/* 版权模块 end */

/* footer2 end*/
