* {
    box-sizing: border-box;
}

body {
    background-color: #f3f5f7;
    /*height: 3000px;*/
}

header {
    width: 1300px;
    height: 100px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    /* 统一设置挤下来 */
    padding-top: 30px;
}

/******** Header 部分 ********/
/*** logo ***/
.logo {
    width: 195px;
    height: 42px;
    float: left;
}

.logo a {
    /*float: left;*/
    display: block;
    width: 100%;
    height: 42px;
    background: url(../images/logo.png) no-repeat left top;
    /* 尽量下放职责单一 */
    text-indent: -999em;
    /* 确保万无一失 */
    overflow: hidden;

}

/*** logo end ***/
/*** nav ***/
nav {
    float: left;
}

nav ul {
    float: left;
    margin-left: 65px;
}

nav li {
    box-sizing: border-box;
    float: left;
    height: 42px;
    line-height: 42px;
    /* li 间隔开 */
    padding: 0 30px;
}

nav li a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    height: 42px;
    /* a 往里挤 */
    padding: 0 5px;


}

nav li a:hover {
    border-bottom: 1px solid #00a4ff;

}

/*** nav end ***/

/*** user  ***/
.user {
    width: 300px;
    height: 40px;
    line-height: 40px;
    float: right;
}

.user dt, .user dd, .user dl {
    float: left;
}

.user s {
    text-decoration: none;
    position: relative;
}

.user s::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    color: red;
    background-color: red;
    border-radius: 50%;
    right: -5px;
    top: -5px;

}

.user dt, .user dd {
    margin-left: 25px;
}

/*** user end ***/
/*** search   ***/
.search {
    height: 40px;
    width: 300px;
    float: left;
    margin-left: 83px;
    position: relative;
}

.search input {
    outline: none;
    height: 40px;
    width: 250px;
    border: 1px solid #00a4ff;
    padding: 0 15px;
    line-height: 40px;
}

.search button {
    width: 50px;
    height: 40px;
    background: url(../images/fa-search.png) no-repeat left top;
    border: 1px solid #00a4ff;
    outline: none;
    float: right;
}

dd span img {
    border-radius: 50%;
    vertical-align: center;
}

/*** search end  ***/
/******** Header 部分 ********/
/******** banner 部分 ********/
section.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .main {
    height: 420px;
    position: relative;

    /*background: url(../images/banner.jpg);*/
    /*background-color: pink;*/
}

.banner aside {
    height: 420px;
    background-color: rgba(0, 0, 0, .3);
    width: 190px;
    position: absolute;
    left: 0;
    top: 0;

}

aside ul {
    padding: 20px 0;
}

aside li {
    /*height: 50px;*/
    /* 行高a标签可以继承 */
    line-height: 50px;
    padding: 0 20px;
}

aside li a {
    color: #e0dde7;
    display: inline-block;
}

aside li a:hover {
    color: #fff;
}

.banner aside li a:hover::after {
    color: green;
}

.banner aside li a::after {
    font-family: icomoon;
    content: "\ea50";
    color: red;
    float: right;
    font-size: 18px;
}

/*circle*/
.banner .circle {
    width: 176px;
    height: 30px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -88px;
    padding: 5px 0;

}

.banner .circle a {
    float: left;
    /*border: 1px solid blue;*/
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 8px;
    background-color: rgba(255, 255, 255, .3);

}

.banner .circle a:hover {
    background-color: #F10215 !important;
    border-radius: 10px;
    width: 20px;

}

/***  课程表   ***/
.timebook {
    width: 228px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
}

.timebook dt {
    background-color: #9bceea;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.timebook dd {
    margin: 0 20px;
    font-size: 14px;
    color: #4e4e4e;
    cursor: pointer;
}

.timebook li h5 {
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
}

.timebook li p {
    color: #dadada;
    font-weight: bolder;
    font-size: 12px;
}

.timebook a {
    border: 1px solid skyblue;
    display: block;
    margin: 0px 20px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    color: skyblue;
}

.timebook li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.timebook ul.last li {
    border-bottom: 0;
}

.timebook a:hover {
    color: #fff;
    background-color: skyblue;
    border: 0;
}

/*.timebook dd span{*/
/*color: #4e4e4e;*/

/*font-size: 16px;*/
/*}*/
/*.timebook dt:last-child{*/
/*color: skyblue;*/
/*background-color: #fff;*/
/*margin: 0 20px;*/
/*border: 1px solid skyblue;*/
/*cursor: pointer;*/
/*}*/
/******** banner 部分 ********/
/******** recom 部分 ********/
.recom {
    margin-top: 10px;
    height: 60px;
    border: 1px solid #eee;
    /*line-height: 60px; !* 行高child 继承 *!*/
    background-color: #fff;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .3);
}

.recom a {
    float: left;
    width: 118px;
    height: 18px;
    text-align: center;
    margin-top: 20px;
    border-right: 1px solid #eee;
    line-height: 18px;
    font-size: 14px;
}

.recom a:last-child {
    float: right;
    border: 0;
    color: skyblue;

}

/******** recom 部分 end ********/
/******** rec_ontent 部分 ********/
.rec_ontent {
    margin-top: 40px;
    overflow: hidden;
}

.rec_ontent .head i {
    float: right;
}

.rec_ontent i, .rec_ontent span {
    cursor: pointer;
}

.rec_ontent li {
    float: left;
    width: 230px;
    height: 270px;
    /*background-color: pink;*/
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #eee;
    overflow: hidden

}
.rec_ontent li:hover{
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .3);
    transform: translate(-3px,-3px);

}
/*.rec_ontent li img{*/
    /*transition: all 1s;*/
/*}*/
li,img {
    transition: all 0.5s;
}


.rec_ontent li:nth-child(5n) {
    margin-right: 0;
}
.rec_ontent li:hover img{
    margin-left: -5px;
}
.rec_ontent h4{
    margin: 15px;
}
.rec_ontent p{
   padding-left: 15px;
}
.rec_ontent s{
    text-decoration: none;
    color: orange;
}

/******** rec_ontent 部分 end ********/
/******** footer 部分 ********/
.footer{
    margin-top: 100px;
    height: 420px;
    background-color: #fff;
}
.footer .main{
    background-color: #fff;
    height: 420px;
    /*border: 1px solid red;*/
    padding-top: 30px;
}
.left img{
    margin-left: 10px;
    margin-bottom: 30px;
}
.left{
    width: 500px;
    line-height: 30px;
}
.left a{
    display: inline-block;
    margin-left: 30px;
    border: 1px solid skyblue;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.right ul{
    float: left;
    margin: 10px 60px;
}

.right ul li:first-child{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;

}
/******** footer 部分 end ********/



